<link rel="stylesheet" href="/css/nav.css" />
<header>
  <nav>
    <div class="home">
      <a href="/">
        <h1>
          Pizzaria Fantástica
        </h1>
        <span>
          Área administrativa
        </span>
      </a>
    </div>
    <ul>
      <a href="#"><li>Pedidos</li></a>
      <a href="/clients" class=<%= clientsActive %>> <li>Clientes</li> </a>
      <a href="/pizzas" class=<%= pizzasActive %>><li>Pizzas</li></a>
      <a href="#"><li>Usuários</li></a>
      <a href="/adm/logout"><li>Sair</li></a>
    </ul>
  </nav>
</header>
